{% extends "layout.html" %}

{% block content%}
        <section>
            <div class="container">
                <div class="entry-list single">
                    <article>
                        <h1>{{ entry.title }}</h1>
                        <time datetime="{{ entry.date.strftime('%Y-%m-%d') }}">{{ entry.date.strftime('%d-%m-%Y') }}</time>
                        <div class="entry">
                            <h3>Time Spent:  </h3>
                            <p>{{ entry.time_spent }} Hours</p>
                        </div>
                        <div class="entry">
                            <h3>What I Learned:</h3>
                            <p>{{ entry.learnt }}</p>
                        </div>
                        <div class="entry">
                            <h3>Resources to Remember:</h3>
                            <ul>
                                {% for item in resources %}
                                    {% if "https:" in item %}
                                        <li><a href="{{ item }}" target="_blank"">{{ item }}</a></li>
                                    {% elif "www" in item %}
                                        <li><a href="https://{{ item }}" target="_blank"">{{ item }}</a></li>
                                    {%else%}
                                        <li>{{ item }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="entry">
                            <h3>Tags:</h3>
                            <ul>
                                {% for tag in tags %}
                                <li style="display: inline-block"><a href="{{ url_for('entry_tags', tag=tag.tag)}}">{{ tag.tag }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
            {%if access%}
                <div class="edit">
                    <p><a href="{{url_for('entry_edit', entry_id = entry.id)}}">Edit Entry</a></p>
                    <p><a href="{{url_for('entry_confirm_delete', entry_id = entry.id)}}">Delete Entry</a></p>
                </div>
            {%endif%}
        </section>
{% endblock %}