{% extends "layout.html" %}

{% block content %}
        <section>
            <div class="container">
                {% for entry in journal_entries %}
                    <div class="entry-list">
                        <article>
                            <h2><a href="{{ url_for('entry_detail', entry_id = entry.id) }}">{{entry.title}}</a></h2>
                            <time datetime="{{ entry.date.strftime('%Y-%m-%d') }}">{{ entry.date.strftime('%d-%m-%Y') }}</time>
                        </article>
                        
                    </div>
                {% endfor %}
            </div>
        </section>
{% endblock %}
        
