{% extends "layout.html" %}

{% block content %}
        <h1 style="text-align:center; font-size:20px">Entries with the tag: "{{tag}}"</h1>
        <section>
            <div class="container">
                {% for entry in tagged_entries %}
                    <div class="entry-list">
                        <article>
                            <h2><a href="{{ url_for('entry_detail', entry_id = entry.id) }}">{{ entry.title }}</a></h2>
                            <time datetime="{{ entry.date.strftime('%Y-%m-%d') }}">{{ entry.date.strftime('%d-%m-%Y') }}</time>
                            <ul style="padding: 0px">
                                <li style="display: inline-block; font-size: 10px">Tags: </li>
                            {% for tag in tags %}
                                {% if tag.entry_id == entry.id %}
                                    <li style="display: inline-block; font-size: 10px"><a href="{{url_for('entry_tags', tag=tag.tag)}}">{{ tag.tag }}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </article>
                        
                    </div>
                {% endfor %}
            </div>
        </section>
{% endblock %}